<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<h1>This is Home View</h1>

<p>Welcome to Free Market in University!!</p>
<p>Please sign up or log in.</p>

<p><%= link_to "Sign up", signup_path, class: "btn btn-primary" %></p>
<p><%= link_to "Log in", login_path, class: "btn btn-primary" %></p>

<% end %>
