<% provide(:title, "Home") %>

<h1>This is Home View</h1>

<p>Welcome to Free Market in University!!</p>
<p>Please sign up or log in.</p>

<p><%= link_to "Sign up", "#", class: "btn btn-primary" %></p>
<p><%= link_to "Log in", "#", class: "btn btn-primary" %></p>
