<li id="message-<%= message.id %>" style="list-style: none; padding-bottom: 10px;" >
  <% if current_user.id == message.from_id %>
    <div style="margin: 0 0 0 auto;  width: 80%;">
      <div style=" width: 100%; margin: 0 0 0 auto; overflow: hidden;">
        <span class="image"  id="from"><%= message.content %></span>
      </div>
    </div>
  <% else %>
    <div class="text-left" style="width: 80%;">
      <div style=" width: 100%;  overflow: hidden;">
        <span class="image" id="to"><%=  message.content %></span>
      </div>
    </div>
  <% end %>
</li><br>
