<%= form_with(model: Favorite.new, url: favorites_path(micropost_id: micropost.id), method: :post) do |f| %>
  <%= button_tag(type: "submit") do %>
    <i class="far fa-heart"></i><span id="favorite_count"><%= micropost.favorites.count %></span>
  <% end %>
<% end %>
