<%= provide(:title, @user.name) %>

<h1>Name</h1>
<%= @user.name %>

<h2>Email</h2>
<%= @user.email %>

<% if current_user?(@user) %>
  <%= link_to "Delete my account", user_path(@user), method: :delete, data: {confirm: "本当に削除しますか"} %>
<% end %>
