/*
  Navigator CSS
*/
#navigator {
  width: 95%;
  margin: 0 auto;
}

/*
  Container CSS
*/
#container {
  margin-top: 50px;
}

/*
 error messages
*/
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: #333;
  }
}
